<br>
<div class="column is-4 is-offset-1">
<h2 class="title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field ">
    <%= f.label :photo, :class => "label" %>
    <%= f.file_field :photo, autofocus: true, autocomplete: "photo", :class => "input is-rounded"%>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input is-rounded", :placeholder => "Email"%>
  </div>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "input is-rounded", :placeholder => "Name"%>
  </div>

  <div class="field">
    <%= f.text_field :work, autofocus: true, autocomplete: "work", :class => "input is-rounded", :placeholder => "Work"%>
  </div>
  <!-- Añadimos al form original de devise las opciones de agregar un username, phone y age -->
  <div class="field">
    <%= f.text_field :username, autofocus: true, autocomplete: "username", :class => "input is-rounded" , :placeholder => "Username"%>
  </div>

  <div class="field">
    <%= f.telephone_field :phone, autofocus: true, autocomplete: "phone", :class => "input is-rounded", :placeholder => "Phone"%>
  </div>

  <div class="field">
    <%= f.number_field :age, autofocus: true, autocomplete: "age", :class => "input is-rounded", :placeholder => "Age"%>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => "input is-rounded", :placeholder => "Password"%>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "input is-rounded", :placeholder => "Confirm Password"%>
  </div>

<br>

  <div class="actions">
    <%= f.submit "Sign up", :class => "button is-info" %>
  </div>
<% end %>

<br>

<%= render "users/shared/links" %>

</div>
